body {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

table {
  border-spacing: 50px 0;
}

td {
  padding: 3px 5px;
}

@media (max-width: 500px) {
  body {
    font-size: 24px;
  }
}
