<% if login? %>
  <p>Welcome <%= session[:email] %>!</p>
  <p><a href="/subscriptions">Edit your subscriptions</a></p>
  <p><a href="/auth/logout" title="Sign-out">Sign-out</a></p>
<% else %>
  <p>
  <a href="/auth/login">
    <img id="login"
         src="images/btn_google_signin_dark_normal_web.png"
         alt="sign in with google">
  </a>
  </p>
<% end %>

<p>
  Welcome to elevatoralerts.com!
</p>

<p>
  Click the sign in button above to sign in or create an account; once you've
  done that, you can select the stations you want to receive emailed elevator
  alerts for. (We may also email you occasionally about new features.)
  Currently, we support <a href="https://www.bart.gov">BART</a> and
  <a href="https://www.sfmta.com/">SF Muni</a>.
</p>

<h3>Why?</h3>
<p>
  BART has an <a href="https://www.bart.gov/news/alerts">email and text
  subscription system</a> for elevator outages - but if you sign up, you get
  outage alerts for every elevator in the system.  You probably only want alerts
  for some stations.
</p>

<h3> Planned features</h3>
<p>
  <ul>
    <li>Nicer layout</li>
    <li>Text alerts</li>
    <li>Visualization of outage history</li>
    <li>Vacation mode ("don't send me elevator alerts between these dates")</li>
  </ul>
</p>

<h3> Contact us</h3>
<p>
  Contact me by <a href="mailto:ismith@metaforgotten.org">email</a> or
  <a href="https://twitter.com/metaforgotten">twitter</a> if you have a feature
  request, bug report, or want to help add another public transit system.
</p>

<p>
  Code is available <a href="https://github.com/ismith/elevator_alerts">on github</a>.
</p>
