<p>Welcome <%= session[:email] %>!</p>

<a href="/">Back home</a>

<p>Report elevator problems here.  (Not outages - we get those automatically -
but issues like cleanliness, etc.)</p>

<form action='/api/report' method='POST' id="report_form">
  <table>
  <tr>
  <td><label for="station_select">Station</label></td>
  <td><select id="station_select" name="station">
    <option disabled selected>Select a station</option>
    <% Models::System.first(:name => "BART").stations.uniq.each do |station| %>
      <option value="<%= station.id %>"><%= station.name %></option>
    <% end %>
  </select></td>
  </tr>

  <tr>
  <td><label for="elevator_select">Elevator</label></td>
  <td><select id="elevator_select" name="elevator">
  </select></td>
  </tr>

  <tr>
  <td><label for="problem">Problem</label></td>
  <td><textarea rows="3" id="problem" name="problem"></textarea></td>
  </tr>

  <tr>
  <td><label for="submit"></label></td>
  <td><input type="submit" value="Submit" id="submit"></td>
  </tr>
  </table>
  <%= Rack::Csrf.tag(env) %>
</form>
<br/>

<p>You may want to add this page to your phone's home screen:</p>
<p><b>iPhone/iPad:</b> tap the share button in your browser's toolbar - that's the rectangle with an arrow pointing up. Tap the 'Add to Home Screen' button.</p>
<p><b>Android:</b> tap the menu button in your browser and then 'Add to homescreen'.</p>
